@model IEnumerable<SaftOgKraft.WebSite.ApiClient.DTO.ProductDto>

@{
    ViewData["Title"] = "Home Page";
}

<section id="section-hero">
    
    <div class="hero-image">
        <img src="~/lib/images/Saftogkraft.png" alt="This is a hero banner"/>
        <div class="text-center">
            <section id="section-products">
                <h2>Most popular products</h2>
                <br />
                
                @foreach (var item in Model)
                {
                    <figure>
                    @item.Name
                    <br />
                    @item.Description
                    <br />
                    @item.Price
                    <br />
                    <button>HEJ</button>
                    </figure>
                }
               

               
            </section>
        </div>
    </div>
</section>

